html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    color: #fff;
}

.gradiant-text {
    -webkit-background-clip: text;
    @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
    overflow: hidden;
    border-right: 2px solid #fff;
    animation: typing-text 4s steps(50) infinite, blink 0.5s ease-in-out infinite alternate;
    white-space: nowrap;
    display: inline-block;
    width: 0;
}

@keyframes typing-text {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
        border-right: 2px solid #fff;
    }
    100% {
        width: 100%;
        border-right: 2px solid transparent;
    }
}

@keyframes blink {
    0% {
        border-right-color: #fff;
    }
    100% {
        border-right-color: transparent;
    }
}

/* Responsive adjustments */
@media (max-width: 640px) {
    .gradiant-text {
        animation: typing-text-mobile 4s steps(30) infinite, blink 0.5s ease-in-out infinite alternate;
    }
}

@keyframes typing-text-mobile {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
        border-right: 2px solid #fff;
    }
    100% {
        width: 100%;
        border-right: 2px solid transparent;
    }
}


